@import url(http://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:800,400,300,200,100);
$serif:'Bitter', serif;
$sans-serif:"proxima-nova-1","proxima-nova-2", 'Helvetica Neue', 'Helvetica', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$tk: "chaparral-pro-1," Georgia, serif;